<!DOCTYPE html>
<html lang="en">

<head>
	<title>sk8</title>
	<meta charset="utf-8" />
	{% load staticfiles %}

	<link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


	<!-- Navbar start-->

		<nav class="navbar navbar-inverse">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

		      <a class="navbar-brand" href="#"> sk8 </a>
				</div>

				<div class="collapse navbar-collapse" id="myNavbar">
		      <ul class="nav navbar-nav">
		        <li><a href="/"> Home </a></li>
						<li><a href='/tricktips/'> Tricktips </a></li>
			 			<li><a href='/contact/'> Contact </a></li>
						<li><a href='/blog/'> Blog </a></li>
		      </ul>


		    </div>
		  </div>
		</nav>

	<!-- Navbar end -->



</head>

<body class="body" style="background-color:#f6f6f6">
	<div>
	   {% block content %}
	   {% endblock %}

	</div>



</body>

</html>
